.root{
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}
body {
    background-size:100%;
    min-height: 100vh;
    background-color:hsl(234, 29%, 20%);
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content: center;
    font-family: 'Robota', sans-serif;
}
.container{
    max-width: 800px;
    max-height: 600px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    justify-content: space-around;
    align-content: space-around;
}
.img{
    object-fit: contain;
    max-width:50%;
    max-height:50%;
    float:right;
}
.heading{
    display: grid;
    flex-direction: row-reverse;
    justify-content: left;
    font-size:42px;
    font-weight: 700;
    color:hsl(235, 18%, 26%);
    align-items: left;
    gap: 1rem;
}
.p{
    font-size:16px;
    font-weight: 400;
    color:hsl(235, 18%, 26%);
    padding:20px;
    display: flex;
    flex-direction: row-reverse;
    align-content: left;
    justify-content: left;
}

.update::before{
    content:"";
    display:inline-block;
    text-align: left;
    width:16px;
    height:16px;
    margin-right:5px;
    padding-right: 5px;
    background-image: url(icon-list.svg);
    background-size: contain;
    background-repeat:no-repeat;
}
.email{
    padding:20px;
}
.email, .label{
    font-size: 14px;
    color:hsl(235, 18%, 26%);
}
.email, .submit{
    line-height: 30px;
}
@media(max-width:375px){
    .container{
        display:flex;
        flex-direction:row-reverse;
        background-image:url(illustration-sign-up-mobile.svg)
    }
}
@media(max-width:1400px){
    .container{
        display:flex;
        flex-direction:row-reverse;
    }
}
